<!doctype html>
<html>
  <head>
    <title>Elements — __SPEC_NAME__</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@stoplight/elements/styles.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/@stoplight/elements/web-components.min.js"></script>
  </head>
  <body>
    <elements-api apiDescriptionUrl="./__SPEC_FILE__" router="hash" layout="sidebar"></elements-api>
  </body>
</html>
